@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
.card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  }
}

.curvy {
    /* height: 60%; */
    /* display: block; */
    /* box-sizing: border-box; */
    background-color: #0e033681;
    clip-path: ellipse(75% 100% at 75% 0%);
    }